<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">
            <a href="{{ path('app_dashboard') }}">
                <img src="{{ asset('images/design/logo.png') }}" class="logoTop border rounded shadow bg-info" alt="Logo Refaitesvosjeux.fr">
            </a>
        </h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            {% if app.user %}
                <a class="nav-link" href="{{ path('app_cgo_edit') }}">Gérer les départements</a>
                <a class="nav-link" href="{{ path('app_shop_index') }}">Gérer les centres</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('app_admin') }}">Administration</a>
                    {% endif %}
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
        </nav>
    </div>
</header>