{{ form_start(form) }}

    <div class="row justify-content-start">
        {% for departement in form.departements %}
                <div class="form-check col-4 col-md-3 col-lg-2 p-2 text-center">
                        <label>Dépt: {{ form_label(departement) }}</label>
                        {{ form_widget(departement) }}
                    
                </div>
        {% endfor %}
    </div>

    <div class="col-12 text-center my-5">
        <button class="btn btn-lg btn-success">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
